@import "variables";

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}


img {
  display: block;
}

figure {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

.flex-grow {
  flex-grow: 1;
}